.tech-slideshow {
    height: 420px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
  
.tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(https://t3.rbxcdn.com/2bc867e45c6b98d105b0abbb4cd2689c);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}
  
@keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
}